h1{
    color: purple;
}
h1:hover{
    color: navy;
    background-color: yellow;
    border-radius: 10px;
    border-color: pink;
    border: 7px 5px;
    padding: 8px;
    font-style: italic;
    font-size: 15px;
    font-weight: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.middle{
    /* padding: 10%; */
    border-color: blue;
    color: purple;
    padding: 2px 10px;
    border-radius: 5px;
}
.middle:focus{
    /* border-color: brown; */  
    /* border-color pseodo korle change hoi na */
    color: greenyellow;
    padding: 5px 15px;
    border-radius: 8px;
}
div{
    text-align: center;
}
div a:visited{
    color: green;
}